{% extends 'store/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'personal_area/css/login.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div id="form">
            <label>
                Авторизация
            </label>
            <div id="text-field-block">
                {{ form }}
                {% if error %}
                    <div id="error-block">
                        <label>{{ error }}</label>
                    </div>
                {% endif %}
            </div>
            <div id="button-block">
                <button type="submit">Войти</button>
                <a href="{% url 'register' %}">Регистрация</a>
            </div>

        </div>
    </form>
{% endblock %}