{% extends 'personal_area/personal_area_base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'personal_area/css/personal_area.css' %}">
    <script src="{% static 'personal_area/js/personal_area.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="page-block">
        <div id="profile" class="page">
            <div class="title">
                <label>Мой профиль</label>
            </div>
            <div>
                <input type="text" value="{{ request.user.username }}" readonly>
                <label>Ваш никнейм</label>
            </div>
            <div>
                <input type="text" value="{{ request.user.email }}" readonly>
                <label>Ваша почта</label>
            </div>
            <div>
                <input type="text" value="{{ request.user.role.name }}" readonly>
                <label>Уровень доступа</label>
            </div>
        </div>
        <div id="contact-data" class="page">
            <div class="title">
                <label>Контактные данные</label>
            </div>
                {% if request.user.contact_datas.all|length == 0 %}
                    <form id="contact-data-form" class="hidden" method="post">
                        {% csrf_token %}
                        {{ contact_data_form }}
                        <button type="submit">Сохранить</button>
                    </form>
                    <button id="contact-data-add-button">Добавить</button>

                {% else %}
                    <div>
                        <input type="text" value="{{ request.user.contact_datas.first.name }}" readonly>
                        <label>ФИО</label>
                    </div>
                    <div>
                        <input type="text" value="{{ request.user.contact_datas.first.phone }}" readonly>
                        <label>Номер телефона</label>
                    </div>
                    <div>
                        <input type="text" value="{{ request.user.contact_datas.first.email }}" readonly>
                        <label>Почта</label>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}