{% extends 'store/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
    <div class="product-card">
        <div class="product-images">
            <ul>
                {% for img in product.images.all %}
                    <li>
                        <img src="{{ img.image }}" alt="">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-image-selected">
            <img src="" alt="">
        </div>
        <div class="product-description">
            <div class="description-block">
                Описание
                <div class="text">
                    {{ product.description }}
                </div>
            </div>
            <div class="price-block">
                Цена
                <div class="default-price">
                    {{ product.price }} ₽
                </div>
                <div class="price-offer">
                    <label>Предложить цену:</label>
                    <button id="prev-button">-</button>
                    <input type="number" id="price-input" name="price-input" value="{{ product.price|add:100 }}">
                    <button id="next-button">+</button>
                </div>
                <button id="offer">Предложить</button>
            </div>
            <div class="contact-data-block">
                Контактные данные
                <div class="contact-data">
                    <p>Имя: {{ product.contact_data.name }}</p>
                    <p>Номер: {{ product.contact_data.phone }}</p>
                    <p>E-Mail:
                        <a href="mailto:{{ product.contact_data.email }}">{{ product.contact_data.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}