{% extends 'store/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

    <div class="product-card">
        <div class="first-level-block">
            <div class="image-block">
                <div class="selected-image">
                    <img src="{{ product.images.image.url }}" alt="">
                </div>
                <div class="image-list">
                    <ul>
                        {% for img in product.images.all %}
                            <li>
                                <img src="{{ img.image }}" alt="">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="product-data">
                <div class="name">
                    <label class="title">Производитель</label>
                    <div class="text-block">
                        {{ product.contact_data.name }}
                    </div>

                </div>
                <div class="description">
                    <label class="title">Описание</label>
                    <div class="text-block">
                        {{ product.description }}
                    </div>
                </div>
                <div class="certificate">
                    <label class="title">Документация</label>
                    <div class="text-block">
                        <a style="text-decoration: none" href="{{ product.certificate.url }}">PDF</a>
                    </div>
                </div>
            </div>
            <div class="contact-data">
                <div>
                    <label>Имя: </label> {{ product.contact_data.name }}
                </div>
                <div>
                    <label>Номер телефона: </label> {{ product.contact_data.phone }}
                </div>
                <div>
                    <label>E-Mail: </label> {{ product.contact_data.email }}
                </div>
            </div>
        </div>
        <div class="two-level-block">

        </div>
    </div>


{% endblock %}