body {
    background: linear-gradient(to bottom, #e0f3ff, #ffffff);
}

div.product-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.first-level-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.image-block, .contact-data{
    background-color: #fff;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 800px;
    min-width: 300px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.selected-image{
    width: 100%;
    height: 70%;
}

.selected-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.selected{
    border-color: cornflowerblue !important;
}

.image-list{
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.image-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.image-list ul li {
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;

}

.image-list ul li img:hover{
    filter: brightness(70%);
}

.image-list ul li img {
    padding: 5px;
    max-width: 100px;
    width: 100%;
    object-fit: cover;
    height: 100px;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease, filter 0.3s ease;;

}

.product-data{
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.description{
    width: 100%;
}

.title{
    color: gray;
    text-align: left;
    align-self: start;
}

.text-block{
    margin-top: 10px;
}

.name, .description, .certificate, .price-block{
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.contact-data{
    justify-content: start;
    align-items: center;
    min-width: 100px;
}

.certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.doc-list{
    display: flex;
    width: 100%;
}

.doc-list ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.doc-list ul a{
    margin-top: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
    text-decoration: none;
    color: white;
    transition: filter 0.3s ease, scale 0.3s ease;
}

.doc-list ul a:hover{
    filter: brightness(70%);
    scale: 103%;
}

.price-block{
    width: 100%;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    transition: scale 0.3s ease, box-shadow 0.3s ease;
}

.price-block:hover{
    scale: 101%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.price, .price-offer{
    margin-top: 5px;
    justify-content: center;
    width: 100%;
    display: flex;
}

#price-input, .price-offer-button, .price-block button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 5px;
}

#price-input::-webkit-inner-spin-button,
#price-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
#price-input{
    width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}

.price-offer-button{
    width: 30px;
    height: 30px;
}

.price-block button{
    padding: 10px;
    margin-top: 10px;
}

.pressed{
    filter: brightness(70%);
}